# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Output directories
dist/
build/

# Jest coverage
coverage/

# System files
.DS_Store
Thumbs.db

# VSCode-specific files
.vscode/
